.container {
    width: 520px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 150px;
    height: 150px;
    background-color: teal;
    margin: 1px;
    border-radius: 10px;
    transition: all 0.5s;
    border: 10px solid teal;
   
}

.box:hover{
    border-color: turquoise;
}

